<main class="mt-3">
  <div class="container-fluid">
    <ul *ngIf="locations">
      <li *ngFor="let location of locations">
        <!--img [src]="conference.avatar"-->
        <a [routerLink]="['/location-detail', location.id]">
          {{ location.name }}
        </a>
      </li>
    </ul>
  </div>
</main>
