<main class="mt-3">
  <div class="container-fluid" *ngIf="conferenceDetails">
    <h4>Conference Information:</h4>
    <div>
      <p>From: {{conferenceDetails.conference.from}}</p>
      <p>To: {{conferenceDetails.conference.to}}</p>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <h4>Talks:</h4>
        <ul>
          <li *ngFor="let talk of conferenceDetails.talks">
            <!--img [src]="conference.avatar"-->
            <a [routerLink]="['/talk-detail', talk.id]">
              {{ talk.name }}
            </a>

          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4>Topics:</h4>
        <ul>
          <li *ngFor="let topic of conferenceDetails.topics">
            <!--img [src]="conference.avatar"-->
            <a [routerLink]="['/topic-detail', topic.id]" [queryParams]="{conferenceId: conferenceDetails.conference.id}">
              {{ topic.name }}
            </a>

          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4>Speakers: </h4>
        <ul>
          <li *ngFor="let speaker of conferenceDetails.speakers">
            <!--img [src]="conference.avatar"-->
            <div>
              Name: {{ speaker.name }}<br/>
              Profession: {{ speaker.profession}}<br/>
              Birthdate: {{ speaker.birthDate}}<br/>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4>Rooms:</h4>
        <ul>
          <li *ngFor="let room of conferenceDetails.rooms">
            <!--img [src]="conference.avatar"-->
            <a [routerLink]="['/room-detail', room.id]" [queryParams]="{conferenceId: conferenceDetails.conference.id}">
              {{ room.name }}
            </a>

          </li>
        </ul>
      </div>

    </div>
  </div>
</main>
