<header>
  <div class="container-fluid" class="site-header">

    <a routerLink="/" class="logo">
      <img width="300" alt="PRODYNA Logo" src="assets/img/prodyna_logo.png" />
    </a>
    <h1 class="d-inline align-middle">
      {{ title }}
    </h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/locations">Locations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/conferences">Conferences</a>
        </li>
      </ul>
      <div class="float-right"><a class="nav-link" routerLink="/admin">Admin</a></div>
    </nav>
  </div>
</header>
