<main class="mt-3">
  <div class="container-fluid mt-2" *ngIf="timeslot" >

      <div>
        <h4>{{timeslot.talk.name}}</h4>
        <p>{{timeslot.talk.description}}</p>
      </div>
      <div class="mt-5">
        <h4 class="mb-3">Speaker:</h4>
        <p><b>Name: </b>{{timeslot.speaker.name}}</p>
        <p><b>Birthday: </b>{{timeslot.speaker.birthDate}}</p>
        <p><b>Prefession: </b>{{timeslot.speaker.profession}}</p>
      </div>
  </div>
</main>
