<main class="mt-3">

  <div class="container-fluid" *ngIf="conferences">
    <h4>Available conferences:</h4>

    <div class="container-fluid">
      <ul>
        <li *ngFor="let conference of conferences">
          <!--img [src]="conference.avatar"-->
          <a [routerLink]="['/conference-detail', conference.id]">
            {{ conference.name }}
          </a>

        </li>
      </ul>
    </div>
  </div>
</main>
