<main class="mt-3">
  <div class="container-fluid" *ngIf="locationDetail">
    <h4>Key facts for the location {{locationDetail.name}}:</h4>
    <p>{{locationDetail.description}}</p>
    <p><b>City: </b>{{locationDetail.city}}</p>
    <p><b>Address: </b>{{locationDetail.address}}</p>

  </div>
</main>
