.banner {
  text-align:left;
  background-color: dimgray;
  padding: 20px;

  h1 {
    color: $banner-font-color;
  }

  .btn-link, .btn-link:hover {
    color: $primary-font-color;
  }
}

.site-header {
  background-image: url("assets/img/bubble.png");
  background-repeat: no-repeat;
}

.timeslot {
  color: darkgray
}

.talk-link {
  color: white;
}

.btn {
  height: 32px;
  margin-left: 10px;
  line-height: 1 !important;
}
