<main class="mt-3">
  <div class="container-fluid mt-2" *ngIf="talkDetail" >

    <div>
      <h4>{{talkDetail.talk.name}}</h4>
      <p>{{talkDetail.talk.description}}</p>
    </div>
  </div>
</main>
