<main class="mt-3">
  <div class="container-fluid mt-2" *ngIf="talks" >
    <div class="row">
      <div class="col-md-6">
        <h4>All Talks:</h4>
        <ul>
          <li *ngFor="let talk of talks">
            <!--img [src]="conference.avatar"-->
            <a [routerLink]="['/talk-detail', talk.id]">
              {{ talk.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
