h3.accordion{
  margin: 0;
}
.accordion a{
  padding: 10px;
  background: #ddd;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-bottom: 1px;
}
.accordion-content{
  border: 1px solid #ddd;
  padding: 10px;
  margin: 1px 0;
}

.m-component {
  border: 1px solid darkgray;
  margin-top: 16px;
}

.panel-header {
  padding: 12px;
  background-color: #f8f9fa;
  border-bottom: 0.5px solid gray;
}

.panel-body {
  padding: 12px;
}

#search-locations-results {
  li::marker {
    display: none;
  }
}

summary {
  outline:none;
}
