<main class="mt-3">

  <div class="container-fluid">
    <h4>Admin console:</h4>

    <div class="container-fluid">
      <div>
        Import all Data: <button class="btn btn-primary" (click)="importData()"> Import data</button>
      </div>
      <div>
        Delete all Data: <button class="btn btn-danger" (click)="deleteData()" > Delete data</button>
      </div>
    </div>
  </div>


  <div class="container-fluid">

    <!-- CRUD location -->
    <div class="row m-component" >
      <div class="col-md-12 panel-header">Locations</div>
      <div class="col-md-12 panel-body">
        <div class="m-search">
          <label for="search-locations" class="a-search-label mr-2">Search Locations</label>
          <input #searchLocationsText id="search-locations" class="a-search-label" type="text"/>
          <button class="btn btn-primary" (click)="searchLocations(searchLocationsText.value)">Search</button>
        </div>
        <div id="search-locations-results">
          <table *ngIf="locations">
            <thead>
            <tr>
              <th>Name</th>
            </tr>
            </thead>
            <tr *ngFor="let location of locations">
              <td>
                <a [routerLink]="['/location-detail', location.id]">
                {{ location.name }}
                </a>
              </td>
              <td>
                  <i (click)="deleteLocation(location)" class="fa fa-trash-o"></i>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-12 mt-2 mb-2">
        <details>
          <summary>Add new Location</summary>
          <div class="col-lg-12">
            <div class="col-lg-6">
              <label class="mr-6 offset-lg-2 col-md-4">Name: </label>
              <input type="text" class="col-md-6" [(ngModel)] = "newLocation.name"/>
            </div>
            <div class="col-lg-6">
              <label class="mr-6 offset-lg-2 col-md-4">Description: </label>
              <input type="input" class="col-md-6" [(ngModel)] = "newLocation.description"/>
            </div>
            <div class="col-lg-6">
              <label class="mr-6 offset-lg-2 col-md-4">City: </label>
              <input type="input" class="col-md-6" [(ngModel)] = "newLocation.city"/>
            </div>
            <div class="col-lg-6">
              <label class="mr-6 offset-lg-2 col-md-4">Address: </label>
              <input type="input" class="col-md-6" [(ngModel)] = "newLocation.address"/>
            </div>
            <div class="col-md-6 mb-2">
              <button class="btn btn-primary pull-right" (click)="addNewLocation()">Save</button>
            </div>
          </div>
        </details>
      </div>
    </div>
    <!-- CURD end location -->


    <!-- CRUD Topic -->
    <div class="row m-component" >
      <div class="col-md-12 panel-header">Topics</div>
      <div class="col-md-12 panel-body">
        <div class="m-search">
          <label for="search-locations" class="a-search-label mr-2">Search Topics</label>
          <input #searchTopicsText id="search-topics" class="a-search-label" type="text"/>
          <button class="btn btn-primary" (click)="searchTopics(searchTopicsText.value)">Search</button>
        </div>
        <div id="search-topics-results">
          <table *ngIf="topics">
            <thead>
            <tr>
              <th>Name</th>
            </tr>
            </thead>
            <tr *ngFor="let topic of topics">
              <td>
                <a [routerLink]="['/location-detail', topic.id]">
                  {{ topic.name }}
                </a>
              </td>
              <td>
                <i (click)="deleteTopic(topic)" class="fa fa-trash-o"></i>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-12 mt-2 mb-2">
        <details>
          <summary>Add new Topic</summary>
          <div class="col-lg-12">
            <div class="col-lg-6">
              <label class="mr-6 offset-lg-2 col-md-4">Name: </label>
              <input type="text" class="col-md-6" [(ngModel)] = "newTopic.name"/>
            </div>
            <div class="col-md-6 mb-2">
              <button class="btn btn-primary pull-right" (click)="addNewTopic()">Save</button>
            </div>
          </div>
        </details>
      </div>
    </div>
    <!-- CRUD end Topic -->


    <!-- CRUD Speaker -->
    <div class="row m-component" >
      <div class="col-md-12 panel-header">Speakers</div>
      <div class="col-md-12 panel-body">
        <div class="m-search">
          <label for="search-locations" class="a-search-label mr-2">Search Speakers</label>
          <input #searchSpeakersText id="search-speakers" class="a-search-label" type="text"/>
          <button class="btn btn-primary" (click)="searchSpeakers(searchSpeakersText.value)">Search</button>
        </div>
        <div id="search-speakers-results">
          <table *ngIf="speakers">
            <thead>
            <tr>
              <th>Name</th>
            </tr>
            </thead>
            <tr *ngFor="let speaker of speakers">
              <td>
                <a [routerLink]="['/location-detail', speaker.id]">
                  {{ speaker.name }}
                </a>
              </td>
              <td>
                <i (click)="deleteSpeaker(speaker)" class="fa fa-trash-o"></i>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-12 mt-2 mb-2">
        <details>
          <summary>Add new Speaker</summary>
          <div class="col-lg-12">
            <div class="col-lg-6">
              <label class="mr-6 offset-lg-2 col-md-4">Name: </label>
              <input type="text" class="col-md-6" [(ngModel)] = "newSpeaker.name"/>
            </div>
            <div class="col-lg-6">
              <label class="mr-6 offset-lg-2 col-md-4">Birthdate: </label>
              <input type="text" class="col-md-6" [(ngModel)] = "newSpeaker.birthdate"/>
            </div>
            <div class="col-lg-6">
              <label class="mr-6 offset-lg-2 col-md-4">Prefession: </label>
              <input type="text" class="col-md-6" [(ngModel)] = "newSpeaker.profession"/>
            </div>
            <div class="col-md-6 mb-2">
              <button class="btn btn-primary pull-right" (click)="addNewSpeaker()">Save</button>
            </div>
          </div>
        </details>
      </div>
    </div>
    <!-- CRUD end Speaker -->


  </div>



</main>







