<main class="mt-3">
<div class="container-fluid mt-2" *ngIf="roomDetail" >

  <div class="mb-2">
    <span class="font-weight-bolder" style="font-size: 16px">
      In the following you see detailed information for the room {{roomDetail.room.name}}:
    </span>
  </div>

  <p><b>Capacity</b>: {{roomDetail.room.capacity}}</p>
  <p><b>Floor</b>: {{roomDetail.room.floor}}</p>


  <div *ngFor="let roomSchedule of roomDetail.roomSchedules" class="mb-5 mt-3">
    <h5 class="">{{roomSchedule.date}}</h5>
    <div *ngFor="let timeslot of roomSchedule.timeslots" class="mb-2">
      <div class="d-inline-block border-right mr-5 pr-5 timeslot " >
        {{timeslot.from.substring(11,19)}} - <br/>
        {{timeslot.to.substring(11,19)}}
      </div>
      <div class="d-inline-block bg- p-1 align-top talk-link bg-info p-2" >
        <a style="color: white" [routerLink]="['/timeslot-detail', timeslot.id]">
          {{timeslot.talk.name}}
        </a>
      </div>
    </div>
  </div>

</div>
</main>
